.container {
	cursor: pointer;
	border-radius: 2px;
	position: relative;
}

.title {
	display: flex;
	width: 100%;
	position: relative;
	overflow: hidden;
	border: 1px solid #B38867;
	border-radius: 2px;
	transition: border-bottom-right-radius .5s, border-bottom-left-radius .5s, box-shadow .5s;
	transition-delay: .4s;
	height: 38px;
}

.expanded .title {
	box-shadow: 1px 1px 4px #999;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	transition: box-shadow .5s;
}

.title:after {
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #B38867;
	position: absolute;
	top: 15px;
	right: 10px;
	transition: transform .5s ease;
}

.header {
	font-weight: bold;
	padding: 10px;
	color: #FFFFFF;
	background: #B38867;
}

.empty-text, .selected-item {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex: 1;
	box-shadow: 0 0 3px #aaa inset;
}

.empty-text {
	color: #626D71;
	padding: 10px 30px 10px 10px;
}

.expanded .title:after {
	transform: rotate(-180deg);
}

.selected-item {
	display: flex;
	align-items: center;
	padding: 3px 30px 3px 3px;
}

.selected-title {
	font-weight: normal;
	padding-left: 10px;
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.selected-image {
	height: 100%;
	flex: 0 0;
	max-width: 21px;
}

.selected-image img {
	height: 100%;
}

.clear-icon {
	position: relative;
	width: 14px;
	height: 100%;
}
.clear-icon:before, .clear-icon:after {
	position: absolute;
	width: 2px;
	height: 14px;
	background-color: #B38867;
	transform: rotate(45deg);
	left: 6px;
	top: 8px;
	content: '';
	transition: transform .4s;
}

.clear-icon:after {
	transform: rotate(-45deg);
}

ul {
	max-height: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	transition: max-height .5s ease, visibility .5s;
	visibility: hidden;
	position: absolute;
	border-right: 1px solid #B38867;
	border-bottom: 1px solid #B38867;
	border-left: 1px solid #B38867;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	box-shadow: 1px 1px 4px #999;
	background: #FFFFFF;
}

ul::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	border-radius: 3px;
	margin: 4px;
}
ul::-webkit-scrollbar-thumb {
	background-color: #B38867;
	border-radius: 3px;
	border: 1px solid #916b4d;
}

.expanded ul {
	max-height: 250px;
	transition: max-height .5s ease;
	visibility: visible;
}

ul li:first-child {
	border-top: none;
}

ul li {
	border-top: 1px solid #cccccc;
	color: #626d71;
}

ul li.selected, ul li.selected:hover {
	color: #fff;
	background-color: #B38867;
}

ul li.selected, ul li.selected + li {
	border-color: #B38867;
}

ul li:hover {
	background-color: #CDCDC0;
	color: #000;
	transition: background-color .5s;
}

.item-inner {
	display: flex;
	align-items: center;
}

.item-inner .item-image {
	padding: 5px;
	min-height: 61px;
}

.item-inner .item-image img {
	border: 1px solid #fff;
	width: 35px;
}

.item-text {
	flex: 1;
	overflow: hidden;
	padding: 10px;
}
